<%- include("partials/header.ejs") %>

<section class="d-flex flex-column justify-content-center background">
    <div class="container">
      <div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-10">
          <h1 class="ranchers-regular headH1">
            Just a Joke For you 😁.
          </h1>
          <div class="mb-4">
            <p class="lead px-xl-5 truculenta-paragraph headParagraph">
              <%= locals.jokeHead %>
            </p>
          </div>
          </div>
      </div>
    </div>
  </section>

<div class="d-flex flex-nowrap">
    <div class="d-flex flex-column p-4 bg-body-tertiary" style="width: 280px;">
        <form action="/" method="post">
            
            <div>
                <strong>Category</strong> 
                  <div>
                      <input type="checkbox" name="category[programming]" value="Programming">
                      <label for="programming">Programming</label>
                  </div>
                  <div>
                      <input type="checkbox" name="category[misc]" value="Miscellaneous" >
                      <label for="misc">Miscellaneous</label>
                  </div>
                  <div>
                      <input type="checkbox" name="category[dark]" value="Dark" >
                      <label for="dark">Dark</label>
                  </div>  
                  <div>
                      <input type="checkbox" name="category[pun]" value="Pun" >
                      <label for="pun">Pun</label>
                  </div>
                  <div>
                      <input type="checkbox" name="category[spooky]" value="Spooky" >
                      <label for="spooky">Spooky</label>
                  </div>
                  <div>
                      <input type="checkbox" name="category[christmas]" value="Christmas" >
                      <label for="christmas">Christmas</label>
                  </div>
            </div>
            <div>
                <strong>Flags</strong>
                  <div>
                      <input type="checkbox" name="blacklistFlags[nsfw]" value="nsfw" >
                      <label for="nsfw">nsfw</label>
                  </div>
                  <div>
                      <input type="checkbox" name="blacklistFlags[religious]" value="religious" >
                      <label for="religious">religious</label>
                  </div>
                  <div>
                      <input type="checkbox" name="blacklistFlags[sexist]" value="sexist" >
                      <label for="sexist">sexist</label>
                  </div>
                  <div>
                      <input type="checkbox" name="blacklistFlags[explict]" value="explicit" >
                      <label for="explict">explict</label>
                  </div>
            </div>
            <div>
                <strong>Joke type</strong>
                    <div>
                        <input type="checkbox" name="type[single]" checked value="single">
                        <label for="single">Single</label>
                    </div>
                    <div>
                        <input type="checkbox" name="type[pair]" checked value="twopart" >
                        <label for="pair">Pair</label>
                    </div>
            </div>
            <div>
                <div class="mb-2">
                  <label for="amount"><strong>Amount </strong>of jokes:</label>
                  <input type="number" name="amount" id="" style="width: 40px; height: 22px;" value="1" max="10" min="1">
                </div>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="mode" value="safe-mode" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Safe mode</label>
            </div>
            <hr>

            
            <button type="submit" class="btn btn-primary w-100">Generate</button>
        </form>
    </div>
    
    <div class="d-flex flex-column col-lg-10 justify-content-center background">
        <div class="container">
          <div class="row justify-content-center   align-items-center">
            <div class="col-xl-8 col-lg-9 col-md-10">
              <div class="mb-4">
                  <% if(locals.type === 'twopart') { %>
                    <p class="llead px-xl-5 truculenta-paragraph">Person1: <%= locals.setup %></p>
                    <br>
                    <p class="lead px-xl-5 truculenta-paragraph">Person2: <%= locals.delivery %></p>
                    
                  <% } else { %>
                    <p class="lead px-xl-5 truculenta-paragraph"><%= locals.joke %></p>
                  <% } %>
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
